body {color:#434455;
background-color:#FFFFFF;
size:16;
font-weight:regular;
font-family:'Roboto', sans-serif;}
.contacts {font-style:normal;}

.navigation {font-family:'Raleway', sans-serif;
font-weight:700;
font-size:18px;
line-height:1.17;
letter-spacing:0.03em;
text-transform:uppercase;
;
}
.logo-style {color: #4d5ae5;}
.section1 {background-color:#2e2f42;}
h1 {font-size:56px; 
    line-height:1.07;
    text-align:center;
    letter-spacing:0.02em;
    color:#ffffff;

}
.section {font-weight:500;
font-size:20px;}
.button {background-color:#4D5AE5;
font-family:'Roboto',sans-serif;
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em; 
color: #ffffff;
}
.team {font-size:36px;
line-height:1.11;
text-align:center;
letter-spacing:0.02em;
text-transform: capitalize;
color:#2e2f42;}
.section3 {background-color: #F4F4FD;}
.portfolio
{ font-size: 36px ;
    line-height: 1.11 text-align: center;
     letter-spacing: 0.02em ;
     text-transform: capitalize;}
     .logo {color:#2e2f42;}